#circuit-board {
	background-image: url("./images/electronic-circuit-board.jpg");
}

#coltan-mine {
	background-image: url("./images/Wolframite_Mining_in_Kailo_DRC.jpg");
}

#pile-o-tantalum {
	background-image: url("./images/Tantalum-CP-Scrap.jpg");
}

#soldier-pic {
	background-image: url("./images/fighters.jpg");
}

#fairphone-pic {
	background-image: url("./images/fairphone.png");
}

#re-map {
	background-image: url("./images/resource-map.png");
}

#fairphone-chart {
	background-image: url("./images/HOW_WE_WORK-2.jpg");
}

#final-pic {
	background-image: url("./images/congo_child_miners.jpg");
}