/* Behind the Screen main CSS file                     */
/* Copyright hiccup01 <hiccup@hiccup01.com> 2017.      */

/*html {
	height: 100%;
}*/

body {
	font-family: Roboto Slab, -apple-system, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 0 0 0;
	font-size: 16pt;
}

#title {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	/*flex-grow: 100000;*/
	height: 100vh;
}

#title-text {
	padding-bottom: 0;
	height: 10px;
}

.content-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*align-items: center;
	width: 60%;*/
	justify-content: stretch;
	padding: 10px;
	/*height: auto;*/
}

.content {
	width: 60%;
	background: #eaf8f9;
	border-radius: 15px;
	padding: 10px;
}

.content-image {
	width: 40%;
	border-radius: 15px;
	/*justify-content: flex-end;*/
	/*padding: 10px;*/
	background: url("http://art-coll.narod.ru/973/cat_58/cat_54.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

img {
	width: 100%;
	border-radius: 15px;
}

#handcraft {
	font-weight: 400;
	margin:0 0 0 0;
}

#credits {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #EEE;
	padding: 5px;
	border-bottom-left-radius: 10px;
}

@media (max-width: 1080px) { /* This is for mobile devices */
	.content-box {
		flex-direction: column;
		height: 100%;
	}
	.content {
		width: 100%;
	}
	.content-image {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 1081px) { /* This is for desktop devices */
	.real-image { /* This is a fix to make images look good on both desktop and mobile */
		display: none;
	}

	.content-box {
		min-height: 500px
	}
}

/* This code down here is for setting the font size to look good on displays with differnet pixel densities */

/* Font height should be about 5.5mm */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { /* Retina resolution */
    body {
    	font-size: 43px;
    }
}

@media (min-resolution: 120dpi) { /* ldpi */
    body {
    	font-size: 27px;
    }
}

@media (min-resolution: 160dpi) { /* mdpi */
    body {
    	font-size: 36px;
    }
}

@media (min-resolution: 210dpi) { /* tvdpi */
    body {
    	font-size: 47px;
    }
}

@media (min-resolution: 240dpi) { /* hdpi */
    body {
    	font-size: 53px;
    }
}

@media (min-resolution: 320dpi) { /* xdpi */
    body {
    	font-size: 71px;
    }
}

@media (min-resolution: 480dpi) { /* xxdpi */
    body {
    	font-size: 107px;
    }
}

@media (min-resolution: 640dpi) { /* xxxdpi */
    body {
    	font-size: 142px;
    }
}

@media (min-resolution: 400dpi) { /* Plus model iPhones */
    body {
    	font-size: 89px;
    }
}
